<div class="container">
  <div class="col-lg-6 col-sm-6">
      <div class="card hovercard">
          <div class="useravatar">
              <img alt="" src="https://dummyimage.com/250x200/591909/000000&text=Profile+Pic">
          </div>
          <div class="card-info"> <span class="card-title">{{user.firstName}} {{user.surName}}</span>
          </div>
      </div>
      <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
          <div class="btn-group" role="group">
              <button type="button" id="accountSettings" class="btn btn-primary" href="#updateProfileTab" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  <div class="hidden-xs">Account Settings</div>
              </button>
          </div>
          <div class="btn-group" role="group">
              <button type="button" id="collection" class="btn btn-default" href="#collectionTab" data-toggle="tab"><span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                  <div class="hidden-xs">Collection</div>
              </button>
          </div>
          <div class="btn-group" role="group">
              <button type="button" id="deleteAccount" class="btn btn-default" href="#deleteAccountTab" data-toggle="tab"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                  <div class="hidden-xs">Delete Account</div>
              </button>
          </div>
      </div>

      <div class="well">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="updateProfileTab">
            <h3>Update Profile </h3>
            <div class="form-group">
                <label for="firstName">Name:</label>
                <input class="form-control" type="text" name="firstName" placeholder="{{user.firstName}}" ng-model="newUser.firstName" />
                <input class="form-control" type="text" name="surName" placeholder="{{user.surName}}" ng-model="newUser.surName" />
            </div>
          </div>
          <div class="tab-pane fade in" id="collectionTab">
            <h3>Your Movies</h3>
            <div id="collection" ng repeat="movie in user.movies">
                <div><strong>{{movie.title}}</strong>{{movie.genre}}{{movie.length}}</div>
                <hr>
                <div>
                    <b>Total Movies:</b> {{movies.length}}
                </div>
            </div>
          </div>
          <div class="tab-pane fade in" id="deleteAccountTab">
            <h3>Delete Account</h3>
            <button class="btn btn-danger" ng-click="deleteUser()">Click here to delete your Account!</button>
          </div>
        </div>
      </div>
  </div>
</div>
