<div class="container" ng-controller="registerCtrl">
  <div class="col-lg-8 col-md-6 col-sm-3"></div>
  <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12  jumbotron">
    <div class="row">
        <form id="register-form" name="registerForm" ng-enter="submitRegistration()">
            <h2>Register</h2>
            <!-- E-Mail -->
            <div class="form-group">
                <label>Email:</label>
                <input class="form-control" type="text" name="email" placeholder="E-Mail" ng-model="user.email" required />
            </div>

            <!-- Password -->
            <div class="form-group">
                <label>Password:</label>
                <input class="form-control" type="password" name="password" placeholder="Password" ng-model="user.password" required />
            </div>

            <!-- Confirm Password -->
            <div class="form-group">
                <label>Confirm Password:</label>
                <input class="form-control" type="password" name="password" placeholder="Confirm Password" ng-model="password.confirm" required />
            </div>

            <!-- First Name & Surname-->
            <div class="form-group">
                <label>Name:</label>
                <input class="form-control" type="text" name="firstName" placeholder="First Name" ng-model="user.firstName" required />
                <input class="form-control" type="text" name="surName" placeholder="Surname" ng-model="user.surName" required />
            </div>

            <a class="btn btn-success" ng-click="submitRegistration()">Register</a>
            <a class="btn btn-info" href="#/">I already have an Account</a>
        </form>
    </div>
  </div>
</div>
