<div class="container" ng-controller="movieCtrl">
    <div class="row search-row">
        <div class="col-md-9">
          <input class="form-control" id="search-article" placeholder="Search for anything..." ng-model="searchFilter" type="text" />
        </div><div class="col-md-3">
          <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#addMovieModal" style=" padding: 7px 12px; font-size: 14px;">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="hidden-sm"> Add Movie</span>
          </button>
        </div>
        <div id="addMovieModal" class="modal fade">
            <div data-ng-include="'app/views/addMovieModal.tpl.html'"></div>
        </div>
    </div>
    <br></br>
    <hr>
    <div id="products" class="row list-group">
      <!--<div class="row">-->
        <div ng-repeat="movie in movies | filter: searchFilter" class="col-md-6 col-lg-3 product-card">
                <div class="thumbnail">
                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                        <img src="http://via.placeholder.com/350x250" class="group list-group-image" alt="">
                      <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                          <h3 style="border-bottom:2px solid white; padding:10px;">{{movie.title}}</h3>
                          <button class="btn btn-warning btn-lg" data-toggle="modal" data-target="#editMovieModal">
                              <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                          </button>
                          <button class="btn btn-danger btn-lg" data-toggle="modal" data-target="#deleteMovieModal">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true">
                          </button>
                          <button class="btn btn-info btn-lg" type="button" ng-click="redirectToMovieDetail()">
                              <span class="glyphicon glyphicon-info-sign" aria-hidden="true">
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="caption">
                        <p class="group inner list-group-item-text">
                            {{movie.genre}}
                        </p>
                        <div>
                            <p class="group inner list-group-item-text">
                              <strong>{{movie.price | currency : "&euro;"}}</strong>
                            </p>
                            <button class="btn btn-success btn-cart-mobile" type="button" ng-click="addToCart(movie)"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</button>
                        </div>
                    </div>
                    <div id="editMovieModal" class="modal fade">
                        <div data-ng-include="'app/views/editMovieModal.tpl.html'"></div>
                    </div>
                    <div id="deleteMovieModal" class="modal fade">
                        <div data-ng-include="'app/views/deleteMovieModal.tpl.html'"></div>
                    </div>
                </div>
            </div>
        <!--</div>-->
    </div>
</div>
